*,
*::before,
*::after {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url('https://img.freepik.com/free-photo/standing-book-corner_23-2147978145.jpg?semt=ais_hybrid&w=740');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-height: 10vh;
}


.app {
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background: #343a40;
  padding: 10px 30px;
  color: white;
  align-items: center;
}

.logo {
  font-size: 24px;
}

.nav-links a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
  font-weight: bold;
}

.nav-links a:hover {
  text-decoration: underline;
}

.page {
  padding: 40px;
  height: 100%;
}

.dropdowns {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.dropdown label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.dropdown select {
  padding: 6px;
  border-radius: 5px;
}

.contact ul {
  list-style: none;
  padding: 0;
  font-size: 16px;
  line-height: 1.8;
}
